@model StdMngMvc.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h4>查看系别信息</h4>

<div>
    @* <h4>Department</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-link">
        <img src="@Url.Content("~/Images/back.png")" alt="..." style="width: 1em; height: 1em; margin-right: 0.5em;">&nbsp;返回
    </a>
</div>
