@model IEnumerable<StdMngMvc.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h3>系别列表</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <img src="@Url.Content("~/Images/create_white.png")" alt="..." style="width: 1em; height: 1em; margin-right: 0.5em;">&nbsp;新建
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartmentID">修改</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentID">详情</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentID">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
